.header{
            background-color: olive;
            color: whitesmoke;
        }

.footer{
            background-color: silver;
            color: whitesmoke;
        }
.container{
    margin: 0px;
}