.header{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            background-color: green;
            color: white;
        }

.footer{
            background-color: silver;
            color: white;
        }
.container{
    margin: 0px;
}
*{
    margin:0px;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin-right: 5px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.box{
    margin: 20px;
    padding: 10px;
    border: 2px black solid;
}